body {
    padding-top: 50px;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}

form {
    display: block;
    left: 0px;
    width: 100%;
    text-align: center;
}

#desc {
    left: 0px;
    height: 40px;
    width: 100%;
    line-height: 40px;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}
